<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081572789234-2dh1pm6on9qj0440lrogeaedn7j2iq4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081572789234-2dh1pm6on9qj0440lrogeaedn7j2iq4i</string>
	<key>API_KEY</key>
	<string>AIzaSyBbrvQFipz-MhpXTGBEDK2CFwEtE6wnflk</string>
	<key>GCM_SENDER_ID</key>
	<string>1081572789234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbg</string>
	<key>PROJECT_ID</key>
	<string>gita-237e4</string>
	<key>STORAGE_BUCKET</key>
	<string>gita-237e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081572789234:ios:bbe5663fd8be80ca78796b</string>
</dict>
</plist>